@import "tailwindcss/base";
 {
  --tomato: "#ff6347";
  --hardbg: "#12181b";
  --softbg: "#2a2e35";
  --white: "#fff";
  --softgray: "#6c7983";
  --tomato: "#ff6347";
  --contentcolor: "#b2becd";
  --lemon: "#f0db4f";
  --indigo: "#54c5f8";
  --teal: "#2B6CB0";
}

@font-face {
  font-family: roboto;
  src: url("../fonts/Roboto-Medium.ttf");
}

h1 {
  @apply text-2xl;
}
h2 {
  @apply text-xl;
}
h3 {
  @apply text-lg;
}

@import "tailwindcss/components";

@import "tailwindcss/utilities";

*::selection {
  background-color: #0c9447;
  color: #fff;
}

* {
  font-family: "Quicksand", "Source Sans Pro", -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
}

.caret-tomato {
  caret-color: red;
}

.button--tomato {
  border-width: 2px;
  border-color: tomato;
  margin-right: 1rem;
  font-size: 1.125rem;
  width: 8rem;
  color: tomato;
  height: 2.5rem;
}
.button--tomato:hover {
  color: white;
  background-color: tomato;
  transition: all 1s;
}
.button--blue {
  border-width: 2px;
  border-color: #54c5f8;
  margin-right: 1rem;
  font-size: 1.125rem;
  width: 8rem;
  color: #54c5f8;
  height: 2.5rem;
}
.button--blue:hover {
  color: white;
  background-color: #54c5f8;
  transition: all 1s;
}

.icon {
  color: #6c7983;
  font-size: 1.5rem;
  margin-top: 3rem;
  --fa-secondary-opacity: 1;
  --fa-primary-color: rgb(4, 56, 161);
  --fa-secondary-color: rgb(108, 108, 108);
}
.icon--active {
  color: #0c9447;
}
.icon:hover {
  color: tomato;
  transition: all 0.5s;
}
code {
  background-color: #22262f;
  display: block;
  padding-left: 20px;
}
code:hover {
  background-color: #2a2e35;
}

.cardh {
  max-height: 520px;
}
