@import "tailwindcss/base";

@font-face {
  font-family: roboto;
  src: url("../fonts/Roboto-Medium.ttf");
}

h1 {
  @apply text-2xl;
}
h2 {
  @apply text-xl;
}
h3 {
  @apply text-lg;
}

@import "tailwindcss/components";

@import "tailwindcss/utilities";

*::selection {
  background-color: #0c9447;
  color: #fff;
}

* {
  font-family: roboto;
}

code {
  background-color: #2a2e35;
}
.caret-tomato {
  caret-color: red;
}
